.contact-content{
 
     height : 100vh;
     margin-top: 32px;
     padding: 9px;
     position: relative;
     overflow: hidden;
}
.contact-content::after{
     content: "";
     background-image: url("../img/image8.jpg");
     position: absolute;
     top: 0;
     width: 100%;
     height: inherit;
     opacity: .25;
     border-radius: 10px;
     z-index: -1;
}
.nav-left img{
     width: 73px;
}